In [1]:
print(1+1)

2

In [2]:
january_average_temperature = 6
february_average_temperature = 7
print("各月の平均気温は、1月は{}度、2月は{}度.。".format(january_average_temperature, february_average_temperature))

各月の平均気温は、1月は6度、2月は7度.。

In [3]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print(monthly_average_temperatures)
print(type(monthly_average_temperatures))

[6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
<class 'list'>

In [4]:
print(monthly_average_temperatures[::5])

[6, 22, 12]

In [5]:
print(monthly_average_temperatures[::-1])

[7, 12, 17, 23, 26, 27, 22, 20, 15, 9, 7, 6]

In [6]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
odd_and_even = [[0, 2, 4, 6, 8], [1, 3, 5, 7, 9]]
mixed = [-5.5, "Python", 270, ["a", "b", "c"]]

In [7]:
numbers = [0, 1, 2, 3]
numbers.append(4)
print(numbers)

[0, 1, 2, 3, 4]

In [8]:
texts = []
texts.append("alpha")
texts.append("beta")
print(texts)

['alpha', 'beta']

In [9]:
# Mistake example
numbers = [0, 1, 2, 3]
numbers = numbers.append(4)
print(numbers)
print(type(numbers))

None
<class 'NoneType'>

In [10]:
numbers = [0, 1, 2, 3]
print(numbers.append(4))
print(numbers)

None
[0, 1, 2, 3, 4]

In [11]:
text = "python"
text.capitalize()
print(text)
capitalized_text = text.capitalize()
print(text)
print(capitalized_text)

python
python
Python

In [12]:
print([1, 2, 3] + [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [13]:
user_ids = ("A081", "A114", "A186")
print(user_ids)
print(type(user_ids))

('A081', 'A114', 'A186')
<class 'tuple'>

In [14]:
print(user_ids[0])

A081

In [15]:
user_ids[0] = "A082"

TypeError: 'tuple' object does not support item assignment

In [16]:
user_ids = ["A081", "A114", "A186"]
print(user_ids)
print(type(user_ids))
user_ids[0] = "A082"
print(user_ids)

['A081', 'A114', 'A186']
<class 'list'>
['A082', 'A114', 'A186']

In [17]:
user_ids = "A081", "A114", "A186"
print(user_ids)
print(type(user_ids))

('A081', 'A114', 'A186')
<class 'tuple'>

In [18]:
student_name = "Alice"
student_age = 19
if student_age < 20:
  print("{}は20歳未満!!".format(student_name))
else:
  print("{}は20歳以上!!".format(student_name))

Aliceは20歳未満!!

In [19]:
student_name = "Alice"
student_age = 19
if student_age < 20:
  print("{}は20歳未満!!".format(student_name))
else:
  print("{}は20歳以上!!".format(student_name))

Aliceは20歳未満!!

In [22]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in range(len(numbers)):
  print(i, numbers[i])

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9